body {
    background-color: black;
}

.gifs {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    padding: 0 2px;
}

.loader {
    color: blue;
}

.banana {
   display: flow-root;
   width: 10%;
}

.search {
    background-color: darkgray;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.input {
    font-size: 25px;
}