body {
    background-color: black;
}

.gifs {
    display: grid;
    gap: 10px;
    grid-template-columns:max-content;
}

.gif {
    padding: 0 2px;
}

.loader {
    color: blue;
}

.banana {
   display: flow-root;
   width: 10%;
}

.search {
    background-color: darkgray;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.input {
    font-size: 25px;
}